html {
    scroll-behavior: smooth;
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


#mainTitle {
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #141619;
}
.mainTitle {
    font-size: 5rem;
}

#mainTitle button {
    margin-top: 30px;
    font-size: 1.5rem;
    background-color: #B3B4BD;
    padding: 20px;
    border-radius: 20px;
    border: none;
}
#rez {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rezText {
    margin: 50px 0px 30px 0px !important;
    font-size: 3.5rem;
}

.card {
    margin: 2rem;  
    transition: transform .2s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card:hover {
    transform: scale(1.3);
}

.zauzetaKartica {
    opacity: 0.5 !important;
    background-color: red;
}

.filter {
    margin-bottom: 50px;
    align-items: start;
    font-size: 1.5rem;
}
.cijena {
    color: red;
    font-size: 1.5rem;
}





.centar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.kolona {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}






.krajForme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 70vh;
    border: 5px solid green;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.krajForme h1 {
    color: green;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.krajForme p {
    color: green;
    font-size: 1.2rem;
    font-weight: 400;
}

.rezervisaniTereni {
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 50%;
    font-size: 13px;
    width: 110px;
    height: 110px;
}
